.anh
{
    height: 500px;
    width: 700px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 7px 0px #666;
    -webkit-box-shadow: 5px 5px 7px 0px #666;
    box-shadow: 5px 5px 7px 0px #666;
    margin-top: 200px;
    margin-left: 400px;
}

.anh img{height: 100%; width: 100%;}